@*// -----------------------------------------------------------------------------
// File: Index.cshtml
// Summary: Displays a grid of watches with brand, model, price, and category
//          info using IndexVM. Each watch is shown in a Bootstrap card layout.
// <author> [Clive Leddy] </author>
// <created> [2025-05-23] </created>
// Notes: Category names and descriptions are resolved via lookup from ID.
// -----------------------------------------------------------------------------
*@
@model IndexVM
@*@model (IEnumerable<Watch> watches, IEnumerable<Category> categoryService)*@

@{

    @* Inject HTML code into the layout razor.*@
    ViewBag.IndexActive = "active";// Highlight current menu item
     ViewBag.IndexLink = "List all watches";
    // ViewBag.CreateActive = "";
    // ViewBag.CreateLink = "<a href=\"/create\">Add a watch</a>";
}

@* Allow this view to inject page-specific CSS styles. *@
@section Styles {
    <link rel="stylesheet" href="~/css/style.css" />
}
<div class="container text-center">
    <a asp-controller="Watches" asp-action="Throw">Simulate a server error</a><br />
    <div class="row">
        
        @foreach(var watch in Model.WatchItems) {

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">

                <div class="card">
                    <div class="card-body">

                        <img id="watchItemImageContainer" src="@watch.ImageUrl" class="img-responsive media-object"   alt="@watch.Model" />
                        <div class="text-start">
                            <div><strong>Brand:</strong> <span>@watch.Brand</span></div>
                            <div><strong>Model:</strong> <span>@watch.Model</span></div>
                            <div><strong>Year:</strong> <span>@watch.ReleaseYear</span></div>
                            <div><strong>Price:</strong> <span>@watch.Price.ToString("C")</span></div>
                            <div class="bg-info p-1 rounded"><strong>Description:</strong> <span>@watch.Description</span></div>

                            @{
                                var category = Model.CategoryItems.FirstOrDefault(c => c.Id == watch.Category);
                            }

                            <div><strong>Category:</strong> <span>@category?.Name</span></div>
                            @if(!string.IsNullOrEmpty(category?.Description)) {
                                <div class="bg-warning p-1 rounded"><strong>Details:</strong> <span>@category.Description</span></div>
                            }
                        </div>

                    </div>

                </div>

            </div>
        }

    </div>
</div>